body {
    background-color: #f5f5dc;
    font-family: Arial, Helvetica, sans-serif;
}

h1,
h2 {
    margin-top: 0;
    text-align: center;
    color: #4e3c80;
    font-size: 40px;
    font-variant: small-caps; /*indent untuk membuat huruf pertama sebuah kata menjadi besar dan huruf selanjutnya kecil*/
}

p {
    text-indent: 40px; /*indent untuk membuat teks menjorok*/
    text-align: justify;
    line-height: 150%;
    font-size: 20px;
}

.hello:link {
    color: rgb(125, 240, 154);
}

.hello:hover {
    font-size: larger;
}

.hello:active {
    font-style: italic;
}

.hello:visited {
    color: deeppink;
}

li:first-child a {
    color: rgb(171, 235, 52);
}

li:last-child a {
    color: rgb(171, 235, 52);
}

li:nth-child(even) a {
    color: rgb(171, 235, 52);
}

p:first-of-type {
    color: dodgerblue; /*mentarget p yang ditemukan pertama kali dari atas*/
}
